<div class="box-text row">
    <div class="col-2"></div>
    <div class="col-8">
        <h3>{{title}}</h3>
        <form action="">
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Tên</label>
                <div class="col-sm-10">
                  <input ng-model="inPV.ten" type="text" class="form-control" id="inputPassword">
                </div>
                <span ng-if="validate.ten" class="badge rounded-pill text-bg-danger">Bạn chưa nhập tên</span>
              </div>
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Giới tính</label>
                <div class="col-sm-10">
                    <select ng-model="inPV.gt" class="form-select" aria-label="Default select example">
                        <option value="">Chọn giới tính</option>
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                      </select>
                </div>
                <span ng-if="validate.gt" class="badge rounded-pill text-bg-danger">Bạn chưa chọn giới tính</span>
              </div>
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Tuổi</label>
                <div class="col-sm-10">
                  <input ng-model="inPV.tuoi" type="number" class="form-control" id="inputPassword">
                </div>
                <span ng-if="validate.tuoi" class="badge rounded-pill text-bg-danger">Bạn chưa nhập tuổi</span>
              </div>
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Tiền</label>
                <div class="col-sm-10">
                  <input ng-model="inPV.tien" type="number" class="form-control" id="inputPassword">
                </div>
                <span ng-if="validate.tien" class="badge rounded-pill text-bg-danger">Bạn chưa nhập tiền</span>
              </div>
              <div class="mb-3 row">
                <button ng-click="add()">Add</button>
              </div>
        </form>
    </div>
    <div class="col-2"></div>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Tên</th>
        <th scope="col">Giới tính</th>
        <th scope="col">Tuổi</th>
        <th scope="col">Tiền</th>
        <th scope="col">Hành động</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="ds in danhSach">
        <th scope="row">{{ds.id}}</th>
        <td>{{ds.ten}}</td>
        <td>{{ds.gt}}</td>
        <td>{{ds.tuoi}}</td>
        <td>{{ds.tien}}</td>
        <td>
            <button ng-click="edit(ds.id)">Detail</button>
            <button ng-click="del(ds.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>